.tt{
    top: 10px;
}
.smallIII{
   
    height: 150px;
}
.col-md-2{
    
    border: 5px solid rgba(0, 0, 0, 0.401);
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 30px;
    background-color:rgba(0, 0, 0, 0.347) ;
}
.skills{
    border: 5px solid rgba(0, 0, 0, 0.401);
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 30px;
    background-color:rgba(7, 52, 1, 0) ;
    transform: scale(1.05);
     transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
.skills:hover{
    border: 7px solid rgba(0, 166, 255, 0.401);
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.488) ;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s 
    ease;
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}
.yoyo{
    border: 5px solid rgba(0, 0, 0, 0.401);
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    background-color:rgba(7, 52, 1, 0) ;
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 5px solid rgb(194, 106, 0);
    background-color: rgba(7, 7, 7, 0.323);
    color: rgb(178, 178, 178);
    
}
.yoyo:hover{
    border: 7px solid rgba(255, 255, 255, 0.284);
    /* padding: 20px; */
    background-color:rgba(255, 255, 255, 0.062) ;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s 
    ease;
    box-shadow: 0 10px 20px rgb(255, 0, 0);
    /* color: rgb(0, 0, 0); */
}
.smallII{
   
    height: 170px;
}
#hh22{
    color: rgb(194, 194, 249);
}
